p{
    background-color: red;
    color: aqua;
    border: 2px solid red;
    align-items: center;
    display: contents;
    animation-delay: 2 ms;
    box-sizing: border-box;
    visibility: hidden;
    align-self: start;
    appearance: none;
    cursor: alias;
    empty-cells: show;
    src: format();
    content: attr();
}